

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Spot Anywhere</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Spot Anywhere</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        

<style type="text/css">
    .group280 {
        max-width: 280px;
    }

    .scrollable-menu {
        height: auto;
        max-height: 250px;
        overflow-x: hidden;
    }
</style>

<script type="text/JavaScript" src="/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/JavaScript" src="/Scripts/Site/utils.js"></script>
<script type="text/JavaScript" src="/Scripts/Site/login.js"></script>

<div class="container">
    <div id="erro-page-alert" style="display: none; max-width: 1140px; position: absolute;" class="alert alert-danger col-sm-12 text-center"></div>
    <div id="loginbox" style="margin-top:100px;" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Entrar</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#" onclick="$('#loginbox').hide(); $('#signupbox').hide(); $('#changepasswordbox').show();">Esqueceu sua senha?</a></div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <form id="floginbox" class="form-horizontal" role="form">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="txtLogin" type="text" class="form-control" placeholder="usuário ou email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="txtPassword" type="password" class="form-control" placeholder="senha">
                    </div>

                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="chkMantenhaMeConectado" type="checkbox"> Matenha-me conectado
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12">
                            <button id="btnLogin" type="button" class="btn btn-success"><i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;Entrar</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Ainda não possui uma conta!
                                <a href="#" onclick="$('#loginbox').hide(); $('#changepasswordbox').hide(); $('#signupbox').show();">Registre-se aqui</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="signupbox" style="display:none; margin-top:100px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Registre-se</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#changepasswordbox').hide(); $('#loginbox').show();">Entrar</a></div>
            </div>
            <div class="panel-body">
                <form id="fsignupform" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="txtCpf" class="col-md-4 control-label">CPF:</label>
                        <div class="col-md-8">
                            <input id="txtCpf" type="text" class="form-control" placeholder="cpf" maxlength="14" onkeypress="javascript: mascaraCpf(this, cpfMask);">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtNome" class="col-md-4 control-label">Nome:</label>
                        <div class="col-md-8">
                            <input id="txtNome" type="text" class="form-control" placeholder="nome" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail" class="col-md-4 control-label">Email:</label>
                        <div class="col-md-8">
                            <input id="txtEmail" type="email" class="form-control" placeholder="email" maxlength="100" style="text-transform: lowercase">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail" class="col-md-4 control-label">Confirmar Email:</label>
                        <div class="col-md-8">
                            <input id="txtConfirmarEmail" type="email" class="form-control" placeholder="confirmar email" maxlength="100" style="text-transform: lowercase">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtSenha1" class="col-md-4 control-label">Senha:</label>
                        <div class="col-md-8">
                            <input id="txtSenha1" type="password" class="form-control" placeholder="senha" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtSenha2" class="col-md-4 control-label">Confirmar senha:</label>
                        <div class="col-md-8">
                            <input id="txtSenha2" type="password" class="form-control" placeholder="confirmar senha" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtPerguntaSecreta" class="col-md-4 control-label">Pergunta secreta:</label>
                        <div class="col-md-8">
                            <div class="input-group group280">
                                <textarea id="txtPerguntaSecreta" class="form-control scrollable-menu" style="resize: none; height: 54px; /*max-width: 247px;*/" placeholder="pergunta secreta"></textarea>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 54px;"><span class="caret"></span></button>
                                    <ul id="ulPerguntaSecreta" class="dropdown-menu dropdown-menu-right scrollable-menu"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtRespostaSecreta" class="col-md-4 control-label">Resposta secreta:</label>
                        <div class="col-md-8">
                            <input id="txtRespostaSecreta" type="password" class="form-control" placeholder="resposta secreta" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-9">
                            <button id="btnSignup" type="button" class="btn btn-success"><i class="glyphicon glyphicon-hand-right"></i>&nbsp;&nbsp;Registrar</button>
                        </div>
                    </div>




                </form>
            </div>
        </div>
    </div>
    <div id="changepasswordbox" style="display:none; margin-top:100px" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Alterar senha</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#changepasswordbox').hide(); $('#loginbox').show();">Entrar</a></div>
            </div>
            <div class="panel-body">
                <form id="fchangepasswordbox" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="txtEmailAVerificar" class="col-md-4 control-label">Email:</label>
                        <div class="col-md-8">
                            <div class="input-group group280">
                                <input id="txtEmailAVerificar" type="text" class="form-control" placeholder="usuário ou email" maxlength="200">
                                <div class="input-group-btn">
                                    <button id="btnVerificarEmail" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lblPerguntaSecretaAVerificar" class="col-md-4 control-label">Pergunta secreta:</label>
                        <div class="col-md-8 text-left">
                            <span id="lblPerguntaSecretaAVerificar" class="form-control group280 text-left scrollable-menu" style="min-height: 34px; max-height: 54px;"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtRespostaSecretaAVerificar" class="col-md-4 control-label">Resposta secreta:</label>
                        <div class="col-md-8">
                            <input id="txtRespostaSecretaAVerificar" type="text" class="form-control" placeholder="resposta secreta" maxlength="100">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtSenha1AVerificar" class="col-md-4 control-label">Senha:</label>
                        <div class="col-md-8">
                            <input id="txtSenha1AVerificar" type="password" class="form-control" placeholder="senha" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtSenha2AVerificar" class="col-md-4 control-label">Confirmar senha:</label>
                        <div class="col-md-8">
                            <input id="txtSenha2AVerificar" type="password" class="form-control" placeholder="confirmar senha" maxlength="50">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-9">
                            <button id="btnAlterarSenha" type="button" class="btn btn-success"><i class="glyphicon  glyphicon-hand-right"></i>&nbsp;&nbsp;Alterar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>









        <hr />
        <footer>
            <p>&copy; 2015 - TCC(FIAP)</p>
        </footer>
    </div>

    <script src="/Scripts/jquery-2.1.4.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>